body {
  font-family: Arial;
  text-align: center;
}

#image {
  width: 300px;
  height: 300px;
  margin: 10px auto;
  border: 2px solid #2c3e50;
  background-size: cover;
  background-position: center;
  background-size: contain;
  line-height: 300px;
  font-size: 20px;
}

img {
  width: 150px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}
